/*** ===================================================================================== ***/
/*** YOUR REPORT STYLE GOES HERE ***/
/*** ===================================================================================== ***/
#gage_data {
    border-collapse: collapse;
    width: 100%;
	margin-bottom: 100px;
	font-size: 1.0em;
}
#gage_data th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: darkblue;
    color: white;
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
	font-size: 1.0em;
}
#gage_data td a {
	text-decoration: none;
}
#gage_data th a {
	color: black;
	text-decoration: none;
}
#gage_data td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}
#gage_data td a:hover, #gage_data th a:hover {
	text-decoration: underline;
}
#gage_data tr:nth-child(even){
	background-color: #f2f2f2;
}
#gage_data tr:hover {background-color: #ddd;}

hr {
	border: none; /* Remove any default border */
  	border-top: 1px solid #000; /* Set the top border to be 1 pixel thick and black */
}
/*** ===================================================================================== ***/
/*** ===== RIVER RESERVOIR TABLE ===== ***/
/*** ===================================================================================== ***/
#webrep, #webreplake {
    border-collapse: collapse;
    width: 100%;
	margin-bottom: 25px;
    font-size: 1.0em;
}
#webrep th, #webreplake th {
    padding-top: 2px;
    padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
    text-align: left;
    background-color: #444;
    color: white;
	border: 1px solid #ddd;
	text-align: center;
}
#webrep th a, #webreplake th a {
	color: black;
	text-decoration: none;
}
#webrep td, #webreplake td {
	border: 1px solid #ddd;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}
#webrep td a, #webreplake td a {
	text-decoration: none;
    color: black;
}
#webrep td a:hover, #webreplake td a:hover {
	text-decoration: underline;
}
#webrep tr:nth-child(even), #webreplake tr:nth-child(even) {
	background-color: #f2f2f2;
}
#webrep tr:hover, #webreplake tr:hover {background-color: #ddd;}
hr {
	border: none; /* Remove any default border */
  	border-top: 1px solid #000; /* Set the top border to be 1 pixel thick and black */
}
/*** ===================================================================================== ***/
/*** ===== MISC ===== ***/
/*** ===================================================================================== ***/
.alert {
	padding: 15px;
	background-color: #f44336;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hard_coded {
	color: black; /* Base text color */
	text-shadow: 0 0 2px orange;
}
.hard_coded_php {
	color: black; /* Base text color */
	text-shadow: 0 0 2px purple;
}
/* CSS class for flashing red, larger text */
.record_breaking {
	font-size: 1.2em; /* Make text larger */
	color: red;
	animation: flashRed 1s infinite; /* Flashing effect */
}

/* Keyframes for flashing red */
@keyframes flashRed {
	0%, 100% { color: red; }
	50% { color: transparent; }
}

/*** ===================================================================================== ***/
/*** ===== SPAN CLASSES ===== ***/
/*** ===================================================================================== ***/
.last_max_value {
	font-size: 1.0em
}
.last_max_value_flood {
	color:red;
	font-size: 1.0em
}
.last_max_value_flood a {
	color:red;
    font-size: 1.0em
}
.ngvd29 {
	font-size: 1.0em;
	color:purple;
}